.soda_float
  .soda
    .soda_top
    .soda_body
    .soda_bottom
      - for (i = 0; i < 50; i++)
        .soda_bubble
    .soda_top_color
  .ice
    - for (i = 0; i < 2; i++)
      .ice_block
        .ice_block_wrapper
          .ice_block_wall
          .ice_block_wall
          .ice_block_wall
          .ice_block_wall
          .ice_block_wall
          .ice_block_wall
  .grass
    //- .grass_bowl_left
    .grass_bowl_right
    .grass_bowl_bottom
    .grass_lip
    .grass_stem
    .grass_base
  .straw