.content.content-switch
    // .col-sm-12
     // button.switch.depth &#10004;
    .col-sm-12
      ul.gauge.switch
        li 
          p 
            i.glyphicon.glyphicon-picture
.vertical-align.loader
  .col-sm-12.text-center
    .pulse-loader Loading...
div.container
  
  div.row.content.content-temp.vertical-align
    .col-sm-12
      ul.gauge
        li.temp_in 
          p 
            span.temp 12
            span &deg;C
            span.pl Inside
        li.temp_out
          p           
            span.temp 12
            span &deg;C
            span.pl Outside
        div.row.content.content-chart
            div.col-sm-12
            #myChart.ct-chart.vertical-align
      
